{{ 'blog.css' | asset_url | stylesheet_tag }}

{% assign blog = blogs.blog %}

<section id="blog" class="custom-wrapper__{{ section.id }}">
  <div class="blog-wrapper">
    <div class="blog-header common-header">
      <h2 class="common-ttl">BLOG</h2>
      <p class="common-subttl">ブログ</p>
    </div>
    <div class="blog-content-wrapper">
      {% for article in blog.articles limit: section.settings.number %}
        <div class="blog-content blog-content__{{ section.id }}--{{ article.id }}">
          {% render "custom-article-card", article: article %}
        </div>
      {% endfor %}
    </div>
    <div class="blog-btn common-btn common-product-list-btn">
      <a class="common-btn__text button" href="{{ blog.url }}">
        ブログ一覧
      </a>
    </div>
  </div>
</section>

<style>
  .custom-wrapper__{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
  }
  .blog-content-wrapper {
    grid-template-columns: repeat({{ section.settings.number }}, 1fr);
  }
</style>


{% schema %}
  {
    "name": "BLOG",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "背景色"
      },
      {
        "type": "number",
        "id": "number",
        "label": "表示件数",
        "default": 3
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "BLOG"
      }
    ]
  }
{% endschema %}